
{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>

{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Editar Postagem</h4>
        <form action="/admin/postagem/edit" method="POST">
            <input type="hidden" value={{post._id}} name="id">
            <label for="title">Título</label>
                <input type="text" name="title" value={{post.title}} class="form-control" required>
            <label for="slug">Slug:</label>
                <input type="text" name="slug" value={{post.slug}} class="form-control" required>
            <label for="description">Descrição:</label>
                <input type="text" name="description" value={{post.description}} class="form-control" required>
            <label for="content">Conteúdo:</label>
                <textarea name="content" class="form-control">{{post.content}}</textarea required>
            <label for="caregory">Categoria:</label>
                <select name="category" class="custom-select">
                    {{#each categories}}
                        <option value={{_id}}>{{name}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria registrada</option>
                    {{/each}}
                </select>
            <button class="btn btn-success mt-2" type="submit">Editar postagem</button>
        </form>
    </div>
