<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Blog de Tecnologias</h1>
    <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
    <hr class="my-4">
    <p>Aqui você via poder ler sobre as novidades do mundo da comunicação.</p>
    {{#if user}}
    {{else}}
        <a class="btn btn-primary btn-lg" href="usuarios/registro" role="button">Crie uma conta</a>
    {{/if}}
</div>

<h2>Postagens recentes:</h2>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}">
            <button class="btn btn-success">Leia mais</button>
        </a>
        <hr>
        <small>Categoria: {{category.name}}</small>
        <br>
        <small>Data de publicação: {{date}}</small>
    </div>
</div>
{{else}}
    <hr>
    <p>Nenhuma postagem</p>

{{/each}}